<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">

    <title>Perfect Pay UI Library</title>

    <link rel="stylesheet" href="../../vendor/bootstrap/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">

  </head>

  <body class="has-sub-header">

    <header class="navbar navbar-fixed-top sub-navbar config-nav">

      <div class="container-fluid">
          <ul class="nav nav-justified">
              <li><a href="#">Areas</a></li>
              <li><a href="#">Limits</a></li>
              <li><a href="#">Chip Sets</a></li>
              <li><a href="#">Users</a></li>
              <li><a href="#">Roles</a></li>
              <li><a href="#">System</a></li>
              <li><a href="#">Tasks</a></li>
          </ul>
      </div>

        <div class="flex">
            <ul class="flex">
                <li class="flex-column"><a href="#">flex-col-1</a></li>
                <li class="flex-column"><a href="#">flex-col-2</a></li>
                <li class="flex-column"><a href="#">flex-col-3</a></li>
                <li class="flex-column"><a href="#">flex-col-4</a></li>
                <li class="flex-column"><a href="#">flex-col-5</a></li>
                <li class="flex-column"><a href="#">flex-col-6</a></li>
                <li class="flex-column"><a href="#">flex-col-7</a></li>
                <li class="flex-column"><a href="#">flex-col-8</a></li>
                <li class="flex-column"><a href="#">flex-col-9</a></li>
                <li class="flex-column"><a href="#">flex-col-10</a></li>
                <li class="flex-column"><a href="#">flex-col-11</a></li>
                <li class="flex-column"><a href="#">flex-col-12</a></li>
                <li class="flex-column"><a href="#">flex-col-13</a></li>
                <li class="flex-column"><a href="#">flex-col-14</a></li>
                <li class="flex-column"><a href="#">flex-col-15</a></li>
                <li class="flex-column"><a href="#">flex-col-16</a></li>
            </ul>
        </div>

    </header><!-- .sub-navbar -->


     

    <script src="../../vendor/jquery-1.11.3.js"></script>
    <script src="../../vendor/jquery-ui.js"></script>
    <script src="../../vendor/jquery.keyboard-focus.js"></script>
    <script src="../../vendor/bootstrap/javascripts/bootstrap.min.js"></script>
    <script src="../../js/dropdowns.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/demo.js"></script>

    <!-- Documentation purpose only -->
    <link rel="stylesheet" href="../../vendor/prettify/css/prettify.css" />
    <script src="../../vendor/prettify/js/prettify.js"></script>
    <script>$(function() { prettyPrint() })</script>

  </body>
</html>
