<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">

    <title>Perfect Pay UI Library</title>

    <link rel="stylesheet" href="../../vendor/bootstrap/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">

  </head>

  <body class="has-footer">

    <section class="main-content">

      <div class="container">

        <div class="page-header">
          <h1>Fixed footer</h1>
        </div>

      </div><!-- .container -->


      <!-- Documentation -->

      <div class="container documentation">

        <div class="well">

          <p>Footer is fixed to the bottom of the screen and has high enough z-index to keep it on top of most elements.</p>

          <p>When using the footer, body should have class name <code>.has-footer</code>. This gives <code>.main-content</code> the same amount of bottom padding as the height of the footer so that content wouldn't be hidden behind the footer.</p>

        </div>

        <pre class="prettyprint"><code>
<footer class="navbar-default navbar-fixed-bottom footer">
  <div class="row vertical-align">
    <div class="col-xs-2">
      <div class="supervisor-footer-data-row">
        <div class="item-data-label">
          Actual Value
        </div>
        <div class="item-data-value">
          100,000,000
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="supervisor-footer-data-row">
        <div class="item-data-label">
          Expected Value
        </div>
        <div class="item-data-value">
          100,000,000
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="supervisor-footer-data-row">
        <div class="item-data-label">
          Variance
        </div>
        <div class="item-data-value">
          100,000,000
        </div>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="supervisor-footer-data-row">
        <div class="item-data-label">
          Win/Loss
        </div>
        <div class="item-data-value">
          100,000,000
        </div>
      </div>
    </div>
    <div class="col-xs-2 col-xs-offset-2 text-right">
       <a href="#" class="btn btn-primary btn-round">
         <span class="glyphicon icon-unlocked"></span>
       </a>
    </div>
    <div class="footer-fixed-bottom-content">
      <div class="fade-text">Last scan: 5 min ago</div>
    </div>
  </div>
</footer>
        </code></pre>

      </div>

    </section>


    <footer class="navbar-default navbar-fixed-bottom footer">
      <div class="row vertical-align">

        <div class="col-xs-2">
          <div class="supervisor-footer-data-row">
            <div class="item-data-label">
              Actual Value
            </div>
            <div class="item-data-value">
              100,000,000
            </div>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="supervisor-footer-data-row">
            <div class="item-data-label">
              Expected Value
            </div>
            <div class="item-data-value">
              100,000,000
            </div>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="supervisor-footer-data-row">
            <div class="item-data-label">
              Variance
            </div>
            <div class="item-data-value">
              100,000,000
            </div>
          </div>
        </div>

        <div class="col-xs-2">
          <div class="supervisor-footer-data-row">
            <div class="item-data-label">
              Win/Loss
            </div>
            <div class="item-data-value">
              100,000,000
            </div>
          </div>
        </div>

        <div class="col-xs-2 col-xs-offset-2 text-right">
           <a href="#" class="btn btn-primary btn-round">
             <span class="glyphicon icon-unlocked"></span>
           </a>
        </div>

        <div class="footer-fixed-bottom-content">
          <div class="fade-text">Last scan: 5 min ago</div>
        </div>

      </div>
    </footer>

    <script src="../../vendor/jquery-1.11.3.js"></script>
    <script src="../../vendor/jquery-ui.js"></script>
    <script src="../../vendor/jquery.keyboard-focus.js"></script>
    <script src="../../vendor/bootstrap/javascripts/bootstrap.min.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/demo.js"></script>

    <!-- Documentation purpose only -->
    <link rel="stylesheet" href="../../vendor/prettify/css/prettify.css" />
    <script src="../../vendor/prettify/js/prettify.js"></script>
    <script>$(function() { prettyPrint() })</script>

  </body>
</html>
