<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">

    <title>Perfect Pay UI Library</title>

    <link rel="stylesheet" href="../../vendor/bootstrap/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../../css/main.css">

  </head>

  <body class="has-header">

    <header class="navbar navbar-fixed-top">
      <div class="container-fluid">

        <div class="nav navbar-nav">

          <ul class="breadcrumbs clearfix">
            <li class="breadcrumb-item">
              <a href="#" class="breadcrumb-item-link">
                <span class="glyphicon icon-breadcrumbs-casino"></span>
              </a>
            </li>
            <li class="breadcrumb-item">
              <a href="#" class="breadcrumb-item-link">Area 1</a>
            </li>
            <li class="breadcrumb-item">
              <a href="#" class="breadcrumb-item-link">Pit 1</a>
            </li>
            <li class="breadcrumb-item">
              <span class="breadcrumb-item-link">Table 001</span>
            </li>
          </ul>

        </div>

        <ul class="nav navbar-nav navbar-center">
          <li class="dropdown dropdown-center application-menu">

            <a href="#" class="dropdown-toggle application-menu-toggle" data-toggle="dropdown">
              <span class="glyphicon icon-application-menu"></span>
              Casino Manager
            </a>

            <div class="dropdown-menu">

              <div class="dropdown-body">
                <div class="dropdown-content">

                  <div class="clearfix">

                    <div class="col-xs-6">
                      <div class="application-menu-item application-menu-separator-right">

                        <a href="#" class="application-menu-item-link">
                          <div class="application-menu-item-icon">
                            <span class="glyphicon icon-casino-manager"></span>
                          </div>
                          Casino Manager
                        </a>

                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="application-menu-item">

                        <a href="#" class="application-menu-item-link">
                          <div class="application-menu-item-icon">
                            <span class="glyphicon icon-configurations"></span>
                          </div>
                          Configuration
                        </a>

                      </div>
                    </div>

                  </div>

                  <div class="clearfix">

                    <div class="col-xs-6">
                      <div class="application-menu-item application-menu-separator-right application-menu-separator-top">

                        <a href="#" class="application-menu-item-link">
                          <div class="application-menu-item-icon">
                            <span class="glyphicon icon-application-placeholder"></span>
                          </div>
                          Application YX
                        </a>

                      </div>
                    </div>

                    <div class="col-xs-6">
                      <div class="application-menu-item application-menu-separator-top">

                        <a href="#" class="application-menu-item-link">
                          <div class="application-menu-item-icon">
                            <span class="glyphicon icon-application-placeholder"></span>
                          </div>
                          Application XY
                        </a>

                      </div>
                    </div>

                  </div>

                </div>
              </div>

            </div>

          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

          <li class="navbar-search">

            <div class="navbar-input-search-wrapper input-search-wrapper">
              <input type="text" class="form-control input-text navbar-input-search input-search" placeholder="Search..." />
              <span class="glyphicon icon-search-input"></span>

              <a class="input-search-clear">
                <span class="glyphicon icon-close-sm"></span>
              </a>
            </div>

            <a class="navbar-search-show">
              <span class="glyphicon icon-search navbar-icon-search"></span>
            </a>

          </li>

          <li class="dropdown dropdown-right dropdown-lg casino-alerts">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="navbar-casino-alerts-indicator has-alerts"></span>
            </a>

            <div class="dropdown-menu">

              <div class="dropdown-body">
                <div class="dropdown-content">

                  <div class="dropdown-alert-filters-header clearfix">
                    <a class="dropdown-alert-filter-link active" data-target="#casino-alert-filters-high">HIGH (2)</a>
                    <span class="dropdown-alert-filter-separator">|</span>
                    <a class="dropdown-alert-filter-link" data-target="#casino-alert-filters-low">LOW (3)</a>
                    <a class="dropdown-alert-filter-link pull-right">SEE ALL (5)</a>
                  </div>

                  <div class="dropdown-alert-filters collapse in" id="casino-alert-filters-high">

                    <div class="dropdown-item-box dropdown-alert-box">

                      <header class="dropdown-alert-box-header clearfix">
                        <span class="dropdown-alert-box-title">FALSE LOGIN</span>
                        <span class="dropdown-alert-box-time pull-right">2 h</span>
                      </header>

                      <div class="dropdown-alert-box-body clearfix">
                        <a class="dropdown-alert-box-expand-link" data-target="#casino-alert1">Area 1 / Pit 2</a>
                        <div class="dropdown-alert-box-expandable collapse" id="casino-alert1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae rutrum mi. Aenean non urna tellus. Vivamus turpis tortor, venenatis vel commodo eu, aliquet nec ante. Nam risus ex, bibendum et maximus id, congue vel nunc. Cras id urna accumsan, sollicitudin neque quis, accumsan libero. Phasellus ut vestibulum mi, et lobortis augue. Nulla quis maximus dui, non tempus massa.</div>
                        <button class="btn btn-primary pull-right" type="button">DONE</button>
                      </div>

                    </div>

                    <div class="dropdown-item-box dropdown-alert-box">

                      <header class="dropdown-alert-box-header clearfix">
                        <span class="dropdown-alert-box-title">INVENTORY UNLOCKED</span>
                        <span class="dropdown-alert-box-time pull-right">2 h</span>
                      </header>

                      <div class="dropdown-alert-box-body clearfix">
                        <a class="dropdown-alert-box-expand-link" data-target="#casino-alert2">Area 1 / Pit 2</a>
                        <div class="dropdown-alert-box-expandable collapse" id="casino-alert2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae rutrum mi. Aenean non urna tellus. Vivamus turpis tortor, venenatis vel commodo eu, aliquet nec ante. Nam risus ex, bibendum et maximus id, congue vel nunc. Cras id urna accumsan, sollicitudin neque quis, accumsan libero. Phasellus ut vestibulum mi, et lobortis augue. Nulla quis maximus dui, non tempus massa.</div>
                        <button class="btn btn-primary pull-right" type="button">DONE</button>
                      </div>

                    </div>

                  </div>

                  <div class="dropdown-alert-filters collapse" id="casino-alert-filters-low">

                    <div class="dropdown-item-box dropdown-alert-box">

                      <header class="dropdown-alert-box-header clearfix">
                        <span class="dropdown-alert-box-title">CHIPS MISSING</span>
                        <span class="dropdown-alert-box-time pull-right">2 h</span>
                      </header>

                      <div class="dropdown-alert-box-body clearfix">
                        <a class="dropdown-alert-box-expand-link" data-target="#casino-alert3">Area 1 / Pit 2</a>
                        <div class="dropdown-alert-box-expandable collapse" id="casino-alert3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae rutrum mi. Aenean non urna tellus. Vivamus turpis tortor, venenatis vel commodo eu, aliquet nec ante. Nam risus ex, bibendum et maximus id, congue vel nunc. Cras id urna accumsan, sollicitudin neque quis, accumsan libero. Phasellus ut vestibulum mi, et lobortis augue. Nulla quis maximus dui, non tempus massa.</div>
                        <button class="btn btn-primary pull-right" type="button">DONE</button>
                      </div>

                    </div>

                    <div class="dropdown-item-box dropdown-alert-box">

                      <header class="dropdown-alert-box-header clearfix">
                        <span class="dropdown-alert-box-title">FALSE LOGIN</span>
                        <span class="dropdown-alert-box-time pull-right">2 h</span>
                      </header>

                      <div class="dropdown-alert-box-body clearfix">
                        <a class="dropdown-alert-box-expand-link" data-target="#casino-alert4">Area 1 / Pit 2</a>
                        <div class="dropdown-alert-box-expandable collapse" id="casino-alert4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae rutrum mi. Aenean non urna tellus. Vivamus turpis tortor, venenatis vel commodo eu, aliquet nec ante. Nam risus ex, bibendum et maximus id, congue vel nunc. Cras id urna accumsan, sollicitudin neque quis, accumsan libero. Phasellus ut vestibulum mi, et lobortis augue. Nulla quis maximus dui, non tempus massa.</div>
                        <button class="btn btn-primary pull-right" type="button">DONE</button>
                      </div>

                    </div>

                    <div class="dropdown-item-box dropdown-alert-box">

                      <header class="dropdown-alert-box-header clearfix">
                        <span class="dropdown-alert-box-title">INVENTORY UNLOCKED</span>
                        <span class="dropdown-alert-box-time pull-right">2 h</span>
                      </header>

                      <div class="dropdown-alert-box-body clearfix">
                        <a class="dropdown-alert-box-expand-link" data-target="#casino-alert5">Area 1 / Pit 2</a>
                        <div class="dropdown-alert-box-expandable collapse" id="casino-alert5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque vitae rutrum mi. Aenean non urna tellus. Vivamus turpis tortor, venenatis vel commodo eu, aliquet nec ante. Nam risus ex, bibendum et maximus id, congue vel nunc. Cras id urna accumsan, sollicitudin neque quis, accumsan libero. Phasellus ut vestibulum mi, et lobortis augue. Nulla quis maximus dui, non tempus massa.</div>
                        <button class="btn btn-primary pull-right" type="button">DONE</button>
                      </div>

                    </div>

                  </div>

                </div>
              </div>

            </div>

          </li>

          <li class="dropdown dropdown-right user-menu">

            <a href="#" class="dropdown-toggle user-menu-toggle" data-toggle="dropdown">
              Mark F. <span class="caret"></span>
            </a>

            <div class="dropdown-menu">

              <div class="dropdown-body">
                <div class="dropdown-content">
                  <ul class="nav dropdown-nav">
                    <li class="dropdown-nav-item">
                      <a href="#" class="dropdown-nav-link">Change language</a>
                    </li>
                    <li class="dropdown-nav-item">
                      <a href="#" class="dropdown-nav-link">View account</a>
                    </li>
                    <li class="dropdown-nav-item">
                      <a href="#" class="dropdown-nav-link">Log out</a>
                    </li>
                  </ul>
                </div>
              </div>

            </div>

          </li>

        </ul>

      </div>
    </header><!-- .navbar -->


    <section class="main-content">

      <div class="container">
      </div><!-- .container -->


      <!-- Documentation -->

      <div class="container documentation">

        <div class="well">

          <p>Header is fixed to the top of the screen and has high enough z-index to keep it on top of most elements.</p>

          <p>When using the header, body should have class name <code>.has-header</code>. This gives <code>.main-content</code> the same amount of top padding as the height of the header so that content wouldn't be hidden behind the header.</p>

        </div>

        <pre class="prettyprint"><code>
<header class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="nav navbar-nav">
      ...
    </div>
    <ul class="nav navbar-nav navbar-center">
      <li class="dropdown dropdown-center application-menu">
        ...
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-search">
        ...
      </li>
      <li class="dropdown dropdown-right dropdown-lg casino-alerts">
        ...
      </li>
      <li class="dropdown dropdown-right user-menu">
        ...
      </li>
    </ul>
  </div>
</header>
        </code></pre>

        <div class="well">

          <p>Breadcrumbs consist of a simple list. The wrapper <code>.navbar-nav</code> is floated to the left automatically.</p>

        </div>

        <pre class="prettyprint"><code>
<div class="nav navbar-nav">
  <ul class="breadcrumbs clearfix">
    <li class="breadcrumb-item">
      <a href="#" class="breadcrumb-item-link">
        <span class="glyphicon icon-breadcrumbs-casino"></span>
      </a>
    </li>
    <li class="breadcrumb-item">
      <a href="#" class="breadcrumb-item-link">Area 1</a>
    </li>
    <li class="breadcrumb-item">
      <a href="#" class="breadcrumb-item-link">Pit 1</a>
    </li>
    <li class="breadcrumb-item">
      <span class="breadcrumb-item-link">Table 001</span>
    </li>
  </ul>
</div>
        </code></pre>

        <div class="well">

          <p>Casino Manager menu is a basic dropdown and its contents are constructed using grid elements and application menu items / links.</p>

        </div>

        <pre class="prettyprint"><code>
<ul class="nav navbar-nav navbar-center">
  <li class="dropdown dropdown-center application-menu">
    <a href="#" class="dropdown-toggle application-menu-toggle" type="button" id="application-menu" data-toggle="dropdown">
      <span class="glyphicon icon-application-menu"></span>
      Casino Manager
    </a>
    <div class="dropdown-menu" aria-labelledby="application-menu">
      <div class="dropdown-body">
        <div class="dropdown-content">
          <div class="clearfix">
            <div class="col-xs-6">
              <div class="application-menu-item application-menu-separator-right">
                <a href="#" class="application-menu-item-link">
                  <div class="application-menu-item-icon">
                    <span class="glyphicon icon-casino-manager"></span>
                  </div>
                  Casino Manager
                </a>
              </div>
            </div>
            <div class="col-xs-6">
              ...
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>
        </code></pre>

        <div class="well">

          <p>Header search bar has the input hidden and becomes visible from the click of the <code>.navbar-search-show</code> link.</p>

          <p>Search input receives focus when revealed and the clear</p>

          <p>Requires <code>header.js</code>.</p>

        </div>

        <pre class="prettyprint"><code>
<li class="navbar-search">
  <div class="navbar-input-search-wrapper input-search-wrapper">
    <input type="text" class="form-control input-text navbar-input-search input-search" placeholder="Search..." />
    <span class="glyphicon icon-search-input"></span>
    <a class="input-search-clear">
      <span class="glyphicon icon-close-sm"></span>
    </a>
  </div>
  <a class="navbar-search-show">
    <span class="glyphicon icon-search navbar-icon-search"></span>
  </a>
</li>
        </code></pre>

        <div class="well">

          <p>Casino Alerts component is basically same as sub-header component Table Alerts. It consists of a dropdown with custom content.</p>

          <p><code>.dropdown-alert-filter-link</code> elements control the alerts content visibility. They need to have <code>data-target</code> attributes matching the IDs of the content elements.</p>

          <p>The content elements <code>.dropdown-alert-filters</code> also have class names <code>.collapse</code>, which initially hides the content. The content that is supposed to be visible has class name <code>.in</code>.</p>

          <p>The alert contents <code>.dropdown-alert-box-expandable</code> are expandable themselves also. <code>.dropdown-alert-box-expand-link</code> elements control the expansion of them in the same manner with class name <code>.collapse</code> and <code>.in</code>.</p>

          <p>Requires <code>alerts.js</code>.</p>

        </div>

        <pre class="prettyprint"><code>
<li class="dropdown dropdown-right dropdown-lg casino-alerts">
  <a href="#" class="dropdown-toggle" type="button" data-toggle="dropdown">
    <span class="navbar-casino-alerts-indicator has-alerts"></span>
  </a>
  <div class="dropdown-menu">
    <div class="dropdown-body">
      <div class="dropdown-content">
        <div class="dropdown-alert-filters-header clearfix">
          <a class="dropdown-alert-filter-link active" data-target="#casino-alert-filters-high">HIGH (1)</a>
          <span class="dropdown-alert-filter-separator">|</span>
          <a class="dropdown-alert-filter-link" data-target="#casino-alert-filters-low">LOW (1)</a>
          <a class="dropdown-alert-filter-link pull-right">SEE ALL (2)</a>
        </div>
        <div class="dropdown-alert-filters collapse in" id="casino-alert-filters-high">
          <div class="dropdown-item-box dropdown-alert-box">
            <header class="dropdown-alert-box-header clearfix">
              <span class="dropdown-alert-box-title">FALSE LOGIN</span>
              <span class="dropdown-alert-box-time pull-right">2 h</span>
            </header>
            <div class="dropdown-alert-box-body clearfix">
              <a class="dropdown-alert-box-expand-link" data-target="#casino-alert1">Area 1 / Pit 2</a>
              <div class="dropdown-alert-box-expandable collapse" id="casino-alert1">
                ...
              </div>
              <button class="btn btn-primary pull-right" type="button">DONE</button>
            </div>
          </div>
        </div>
        <div class="dropdown-alert-filters collapse" id="casino-alert-filters-low">
          <div class="dropdown-item-box dropdown-alert-box">
            <header class="dropdown-alert-box-header clearfix">
              <span class="dropdown-alert-box-title">CHIPS MISSING</span>
              <span class="dropdown-alert-box-time pull-right">2 h</span>
            </header>
            <div class="dropdown-alert-box-body clearfix">
              <a class="dropdown-alert-box-expand-link" data-target="#casino-alert3">Area 1 / Pit 2</a>
              <div class="dropdown-alert-box-expandable collapse" id="casino-alert3">
                ...
              </div>
              <button class="btn btn-primary pull-right" type="button">DONE</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
        </code></pre>

      </div>

    </section>

    <script src="../../vendor/jquery-1.11.3.js"></script>
    <script src="../../vendor/jquery-ui.js"></script>
    <script src="../../vendor/jquery.keyboard-focus.js"></script>
    <script src="../../vendor/bootstrap/javascripts/bootstrap.min.js"></script>
    <script src="../../js/dropdowns.js"></script>
    <script src="../../js/header.js"></script>
    <script src="../../js/alerts.js"></script>
    <script src="../../js/forms.js"></script>
    <script src="../../js/main.js"></script>
    <script src="../../js/demo.js"></script>

    <!-- Documentation purpose only -->
    <link rel="stylesheet" href="../../vendor/prettify/css/prettify.css" />
    <script src="../../vendor/prettify/js/prettify.js"></script>
    <script>$(function() { prettyPrint() })</script>

  </body>
</html>
